@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: transparent !important;
}

.ant-layout-header {
  padding: 0 5px !important;
}

.ant-card-head {
  background: transparent !important;
}

.ant-card {
  background: transparent !important;
  text-align: center;
  text-transform: capitalize;
}

.ant-col-sm-6 .ant-card {
  background: transparent !important;
}

.ant-card-head-title {
  color: #fff !important;
}

.ant-table-row {
  background-color: #fff !important;
}

.anticon-search {
  margin-left: 10px !important;
}

.detail-text {
  color: #fff !important
}
